@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-mono: var(--font-ibm-plex-mono);
}


body {
	font-family: var(--font-mono), monospace;
}